
# Compiled files:
*.o
*.a
*.mod
*.exe

# Backup files for editors:
*~
*#

# Run directories
run*/

# Python extras
__pycache__


Makefile.conf
Makefile.def
share/Library/src/Makefile.DEPEND
share/Library/src/Makefile.RULES
share/Library/src/ModHdf5Utils.f90
src/GITM.exe
src/Makefile.DEPEND
src/Makefile.RULES
src/ModChemistry.f90
src/ModPlanet.f90
src/ModRates.f90
src/ModSize.f90
src/PostProcess.exe
src/aurora.f90
src/calc_chemistry.f90
src/calc_electron_temperature.f90
src/calc_rates.f90
src/init_iri.f90
src/init_msis.f90
src/libEMPIRICALIE.a
src/libEMPIRICALUA.a
src/libINDICES.a
src/libSHARE.a
src/output.f90
src/planet.f90
src/set_vertical_bcs.f90
srcData/UAM.in
srcGlow/libGLOW.a
srcInterface/Makefile.DEPEND
srcSphereAB/libSphere.a
util/CRASH/src/Makefile.DEPEND
util/CRASH/src/Makefile.RULES
util/DATAREAD/srcIndices/Makefile.DEPEND
util/EMPIRICAL/srcEE/Makefile.DEPEND
util/EMPIRICAL/srcIE/Makefile.DEPEND
util/EMPIRICAL/srcUA/Makefile.RULES
util/NOMPI/src/Makefile.RULES
